* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

a {
    text-decoration: none;
    color: #5a5a5a;
}

img {
    cursor: pointer;
}

.flex-div {
    display: flex;
    align-items: center;
}

/* Add to your global CSS (e.g., index.css or App.css) */
html, body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  width: 100vw;
  overflow-x: hidden;
}
*, *::before, *::after {
  box-sizing: inherit;
}
